    <div class="div_nav">
        <div class="div_nav_link"><a href="index">HOME</a></div>
        <div class="div_nav_link"><a href="index">SHOWS</a></div>
        <div class="div_nav_link"><a href="index">NEWS/BLOG</a></div>
        <div class="div_nav_link"><a href="index">MERCH</a></div>
        <div class="div_nav_link"><a href="index">CONTACT</a></div>
        <div class="div_nav_link"><a href="index">PRESS</a></div>
        <div class="div_nav_link"><a href="index">MAILING LIST</a></div>
    </div>