    <div class="div_nav">
    <% if (selected_link) { %>
        <% if (selected_link === 'HOME') { %>
            <div class="div_nav_link"><u>HOME</u></div>
        <% } else { %>
            <div class="div_nav_link"><a href="/index">HOME</a></div>
        <% } %>
        <% if (selected_link === 'SHOWS') { %>
            <div class="div_nav_link"><u>SHOWS</u></div>
        <% } else { %>
        <div class="div_nav_link"><a href="/shows">SHOWS</a></div>
        <% } %>
        <% if (selected_link === 'DRUMBAS') { %>
            <div class="div_nav_link"><u>DRUMBAS</u></div>
        <% } else { %>
        <div class="div_nav_link"><a href="/drumbas">DRUMBAS</a></div>
        <% } %>
        <% if (selected_link === 'MEDIA') { %>
            <div class="div_nav_link"><u>MEDIA</u></div>
        <% } else { %>
        <div class="div_nav_link"><a href="/media">MEDIA</a></div>
        <% } %>
        <% if (selected_link === 'MERCH') { %>
            <div class="div_nav_link"><u>MERCH</u></div>
        <% } else { %>
        <div class="div_nav_link"><a href="/merch">MERCH</a></div>
        <% } %>
        <% if (selected_link === 'CONTACT') { %>
            <div class="div_nav_link"><u>CONTACT</u></div>
        <% } else { %>
        <div class="div_nav_link"><a href="/contact">CONTACT</a></div>
        <% } %>
        <% if (selected_link === 'MAIL') { %>
            <div class="div_nav_link"><u>MAILING LIST</u></div>
        <% } else { %>
        <div class="div_nav_link"><a href="/mail">MAILING LIST</a></div>
        <% } %>
    </div>
    <div class="div_nav">
        <% if (selected_link === 'ADMIN') { %>
            <% if (admin_link) { %>
                <% if (admin_link === 'ADMIN_VENUES') { %>
                    <div class="div_admin_link"><u>VENUES ADMIN</u></div>
                <% } else { %>
                    <div class="div_admin_link"><a href="/admin_venues">VENUES ADMIN</a></div>
                <% } %>
                <% if (admin_link === 'ADMIN_SHOWS') { %>
                    <div class="div_admin_link"><u>SHOWS ADMIN</u></div>
                <% } else { %>
                    <div class="div_admin_link"><a href="/admin_shows">SHOWS ADMIN</a></div>
                <% } %>
                <% if (admin_link === 'ADMIN_DRUMBAS') { %>
                    <div class="div_admin_link"><u>DRUMBAS ADMIN</u></div>
                <% } else { %>
                    <div class="div_admin_link"><a href="/admin_drumbas">DRUMBAS ADMIN</a></div>
                <% } %>
                <% if (admin_link === 'ADMIN_PRESS') { %>
                    <div class="div_admin_link"><u>PRESS ADMIN</u></div>
                <% } else { %>
                    <div class="div_admin_link"><a href="/admin_press">PRESS ADMIN</a></div>
                <% } %>
                <% if (admin_link === 'ADMIN_FANMAIL') { %>
                    <div class="div_admin_link"><u>FANMAIL ADMIN</u></div>
                <% } else { %>
                    <div class="div_admin_link"><a href="/admin_fanmail">FANMAIL ADMIN</a></div>
                <% } %>
                <% if (admin_link === 'ADMIN_SEND_MAIL') { %>
                    <div class="div_admin_link"><u>SEND MAIL</u></div>
                <% } else { %>
                    <div class="div_admin_link"><a href="/admin_send_mail">SEND MAIL</a></div>
                <% } %>
            </p>
            <% } else { %>
            <p>
                <div class="div_admin_link"><a href="/admin_venues">VENUES ADMIN</a></div>
                <div class="div_admin_link"><a href="/admin_shows">SHOWS ADMIN</a></div>
                <div class="div_admin_link"><a href="/admin_drumbas">DRUMBAS ADMIN</a></div>
                <div class="div_admin_link"><a href="/admin_media">MEDIA ADMIN</a></div>
                <div class="div_admin_link"><a href="/admin_fanmail">FANMAIL ADMIN</a></div>
            </p>
            <% } %>
        <% } %>
    </div>
    <div class="div_nav">
    <% } else { %>
        <div class="div_nav_link"><a href="/index">HOME</a></div>
        <div class="div_nav_link"><a href="/shows">SHOWS</a></div>
        <div class="div_nav_link"><a href="/drumbas">DRUMBAS</a></div>
        <div class="div_nav_link"><a href="/media">MEDIA</a></div>
        <div class="div_nav_link"><a href="/merch">MERCH</a></div>
        <div class="div_nav_link"><a href="/contact">CONTACT</a></div>
        <div class="div_nav_link"><a href="/mail">MAILING LIST</a></div>
    <% } %>
    </div>