<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/nav.css" charset="utf-8">
    <link rel="stylesheet" href="/admin.css" charset="utf-8">
    <title>Brakumo - Admin</title>
</head>
<body class="bg_admin_img">
    <% include partials/div_nav_bar.ejs %>
    <br/><div class="div_admin_container">
        <form actio="/admin_login">
            <table class="table_login_container">
                <tr>
                    <td class="td_admin_left">
                        <div class="div_admin_usepass">Logged in as</div>
                    </td>
                    <td class="td_admin_right">
                        <div class="div_admin_input"><%= admin[0].admin_username %></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>