<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="nav.css" charset="utf-8">
    <link rel="stylesheet" href="contact.css" charset="utf-8">
    <title>Brakumo - Contact</title>
</head>
<body class="bg_contact_img">
    <% include partials/div_nav_bar.ejs %>
    <br/><div class="div_contact_container">
                <table class="table_contact_container">
                    <tr>
                        <td class="td_contact_left">
                            <div class="div_contact_label">failure</div>
                        </td>
                        <td class="td_contact_right">
                            <div class="div_contact_input">failure</div>
                        </td>
                    </tr>
                </table>

        </div>
</body>
</html>