<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/nav.css" charset="utf-8">
    <link rel="stylesheet" href="/drumbas.css" charset="utf-8">
    <title>Brakumo - The Drumbas</title>
</head>
<body class="bg_drumbas_img">
    <% include partials/div_nav_bar.ejs %>
    <br/><div class="div_drumbas_container">
 
                <table class="table_drumbas_container">
                    <tr>
                        <td class="td_drumbas_left">
                            <div class="div_drumbas_title">Prototype Complete!</div>
                            
                            <div class="div_drumbas_reference"><img id="id_drumbas_image" src="drumbas_complete_01_small.jpg"></div>
                            <div class="div_drumbas_venue">October 20, 2018</div>

                        </td>
                        <td class="td_drumbas_right">
                            <div class="div_drumbas_date">October 20, 2018</div>
                            <div class="div_drumbas_content">After 3 years of tinkering, the Drumbas 
                                is ready to play!
                                <p>I slathered on some tie-fighter grey stain 
                                to get it as industrial-looking as possible.</p>
                                <p>The final piece of the puzzle will be getting 
                                    the six single coil pickups wired up. 
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>

        </div>
</body>
</html>