<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/nav.css" charset="utf-8">
    <link rel="stylesheet" href="/gallery.css" charset="utf-8">
    <title>Brakumo - Gallery</title>
</head>
<body class="bg_press_img">
    <% include partials/div_nav_bar.ejs %>
    <br/>
    <table class="table_gallery_container">
        <tr>
            <td class="td_gallery">
                <section id="photos">
                    <video src="video03.mp4" controls>
                        <p>Sorry. Your browser does not support HTML5 video.</p>
                    </video>
                    <video src="video02.mp4" controls>
                        <p>Sorry. Your browser does not support HTML5 video.</p>
                    </video>
                    <video src="video01.mp4" controls>
                            <p>Sorry. Your browser does not support HTML5 video.</p>
                    </video>
                    <img src="ultimate_power.jpg" alt="This instrument is now the ultimate power in the universe. I suggest we use it."/>
                    <img src="RK01.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK02.jpg" alt="Death is a part of everyone's life"/>
                    <img src="drumbas_parts.jpg" alt="Complete Drumbas Kit - $40,000"/>
                    <img src="RK03.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK04.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK05.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK06.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK07.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK08.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK09.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK10.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK11.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK12.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK13.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK14.jpg" alt="Death is a part of everyone's life"/>
                    <img src="RK15.jpg" alt="Death is a part of everyone's life"/>
                </section>
            </td>
        </tr>
    </table>
</body>
</html>