<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css" charset="utf-8">
    <title>Brakumo</title>
</head>
<body class="bgimg">
    <h1>Brakumo!</h1>
</body>
</html>