<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="nav.css" charset="utf-8">
    <link rel="stylesheet" href="index.css" charset="utf-8">
    <title>Brakumo - Merch</title>
</head>
<body class="bg_home_img">
    <% include partials/div_nav_bar.ejs %>
    <br/>
    <h1>MERCH</h1>
</body>
</html>