body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    overflow: visible;
}
/* large background image with linear gradient for shows page */
.bg_drumbas_img {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 1.0)7%, rgba(0, 0, 0, 0.5)60%, rgba(0, 0, 0, 1.0)90%),
                  url("drumbas_close.jpg");
    background-size: 100vw; 
}
/* link styling */
a {
    color: white;
    text-decoration: none;
}
.div_mailer_container {
    padding-top: 0px;
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
}
.div_sample_mail {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
/* scrolling shows container */
.table_mailer_container {
    width: 100%;
}
tr:nth-child(odd) {
    background-color: rgba(60, 60, 60, 0.5);
}
tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5);
}
.td_mailer_left {
    /* width: 50%; */
    padding: 13px;
    text-align: right;
    vertical-align: top;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: rgb(9, 255, 0) 1px solid; */
}
.td_mailer_right {
    /* width: 50%; */
    border-left: white 1px solid;
    padding: 13px;
    text-align: left;
    vertical-align: top;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: rgb(9, 255, 0) 1px solid; */
}
.div_mailer_name {
    /* width: 32vw;   */
    text-align: right;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    /* font-weight: bold; */
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
.div_mailer_email {
    /* width: 32vw; */
    text-align: center;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    /* font-style: italic; */
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
.div_mailer_state {
    /* width: 32vw; */
    text-align: left;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    /* font-style: italic; */
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
.div_admin_button {
    text-align: center;
}