
    body, html {
        height: 100%;
        margin: 0;
        background-color: black;
    }
    /* large background image with linear gradient for homepage */
    .bg_home_img {
        background-image: linear-gradient(rgba(0, 0, 0, 1.0)10vh, rgba(0, 0, 0, 0.01)25vh, rgba(0, 0, 0, 1.0)50vh),
                      url("drumbas_main_bw.jpg");
        background-size: 100vw; 
        background-repeat: no-repeat;
    }
    /* link styling */
    a {
        color: white;
        text-decoration: none;
    }
    @font-face {
        font-family: "Asche";
        src: url("asche-bold-webfont.ttf") format("truetype");
    }
    .div_home_logo {
        padding-top: 50px;
        height: 15vw;
        padding-bottom: 1vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Asche', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        /* src: url("asche-bold-webfont.ttf") format("truetype"); */
        font-size: 15vw;
        color: white;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 30px black;
        /* border: solid white 1px; */
    }
    /* blurb under logo */
    .div_home_blurb {
        /* float: left; */
        width: 100vw;
        height: 10vh;
        /* padding-top: 1%; */
        text-align: center;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1vw;
        color: grey;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 1px black;
        /* border: solid green 1px; */
    }
    /* information headers container */
    .div_home_shows_headers_container {
        width: 100%;
        /* height: 30px; */
        margin-left: auto;
        margin-right: auto;
    }
    /* scrolling shows container */
    .div_home_shows_container {
        width: 100%;
        padding-top: 1%;
        /* height: 30px; */
        margin-left: auto;
        margin-right: auto;
        /* overflow: auto; */
    }
    /* show information headers */
    .div_home_shows_headers {
        float: left;
        width: 17.5%;
        height: 20px;
        padding-top: 1%;
        text-align: left;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.25vw;
        color: white;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 1px black;
        /* border: white 1px solid; */
    }
    /* show information left-hand spacer */
    .div_home_shows_spacer {
        float: left;
        width: 5%;
        height: 20px;
        padding-top: 1%;
        text-align: left;
        /* border: white 1px solid; */
    }
    /* show information styles */
    .div_home_shows {
        float: left;
        width: 17.5%;
        height: 20px;
        padding-top: 1%;
        text-align: left;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.25vw;
        color: white;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 1px black;
        /* border: white 1px solid; */
    }
    /* show information "MORE" button container */
    .div_show_more {
        /* float: left; */
        width: 4vw;
        text-align: center;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1vw;
        color: white;
        border: white 2px solid;
    }

@media screen and (max-width: 950px) {
    /* large background image with linear gradient for homepage */
    .bg_home_img {
        background-image: linear-gradient(rgba(0, 0, 0, 1.0)7vh, rgba(0, 0, 0, 0.01)15vh, rgba(0, 0, 0, 1.0)40vh),
                      url("drumbas_main_bw.jpg");
        background-size: 125vw; 
        background-repeat: no-repeat;
    }
    /* link styling */
    .div_home_logo {
        padding-top: 30px;
        height: 20vw;
        font-size: 20vw;
        color: white;
    }
    /* blurb under logo */
    .div_home_blurb {
        /* float: left; */
        width: 100vw;
        height: 10vh;
        /* padding-top: 1%; */
        text-align: center;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2vw;
        color: grey;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 1px black;
        /* border: solid green 1px; */
    }
    /* information headers container */ */
    .div_home_shows_headers_container {
        width: 100%;
        /* height: 30px; */
        margin-left: auto;
        margin-right: auto;
    }
    /* scrolling shows container */
    .div_home_shows_container {
        width: 100%;
        padding-top: 1%;
        /* height: 30px; */
        margin-left: auto;
        margin-right: auto;
        /* overflow: auto; */
    }
    /* show information headers */
    .div_home_shows_headers {
        float: left;
        width: 17%;
        height: 20px;
        padding-top: 1%;
        text-align: left;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2.0vw;
        color: white;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 1px black;
        /* border: white 1px solid; */
    }
    /* show information left-hand spacer */
    .div_home_shows_spacer {
        float: left;
        width: 6%;
        height: 20px;
        padding-top: 1%;
        text-align: left;
        /* border: red 1px solid; */
    }
    /* show information styles */
    .div_home_shows {
        float: left;
        width: 17%;
        height: 20px;
        padding-top: 1%;
        text-align: left;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.75vw;
        color: white;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 1px black;
        /* border: white 1px solid; */
    }
    /* show information "MORE" button container */
    .div_show_more {
        /* float: left; */
        width: 30px;
        text-align: center;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 8px;
        color: white;
        border: white 2px solid;
    }
}
@media screen and (max-width: 780px) {
    /* link styling */
    .div_home_logo {
        /* padding-top: 10px; */
        height: 25vw;
        font-size: 25vw;
        color: white;
    }
    /* blurb under logo */
    .div_home_blurb {
        /* float: left; */
        width: 95vw;
        height: 10vh;
        /* padding-top: 1%; */
        text-align: center;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2.75vw;
        color: grey;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 1px black;
        /* border: solid green 1px; */
    }
    /* show information headers */
    .div_home_shows_headers {
        float: left;
        width: 18%;
        height: 5vw;
        padding-top: 1%;
        text-align: left;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 3.5vw;
        color: white;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 1px black;
        /* border: white 1px solid; */
    }
    /* show information left-hand spacer */
    .div_home_shows_spacer {
        float: left;
        width: 4%;
        height: 5vw;
        padding-top: 1%;
        text-align: left;
        /* border: red 1px solid; */
    }
    /* show information styles */
    .div_home_shows {
        float: left;
        width: 18%;
        height: 10vw;
        padding-top: 1%;
        text-align: left;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 3vw;
        color: white;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 1px black;
        /* border: blue 1px solid; */
    }
    /* show information "MORE" button container */
    .div_show_more {
        float: right;
        width: 8vw;
        text-align: center;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2.5vw;
        color: white;
        border: white 2px solid;
    }
}
