body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    overflow: visible;
}
/* large background image with linear gradient for shows page */
.bg_mail_img {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 1.0)7%, rgba(0, 0, 0, 0.5)60%, rgba(0, 0, 0, 1.0)90%),
                  url("drumbas_close.jpg");
    background-size: 1600px; 
}
/* link styling */
a {
    color: white;
    text-decoration: none;
}
.div_mail_container {
    padding-top: 40px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
/* scrolling shows container */
.table_mail_container {
    width: 100%;

}
.td_mail_left {
    width: 50%;
    padding: 13px;
    text-align: right;
    vertical-align: top;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: rgb(9, 255, 0) 1px solid; */
}
.td_mail_right {
    width: 50%;
    border-left: white 1px solid;
    padding: 13px;
    text-align: left;
    vertical-align: top;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: rgb(9, 255, 0) 1px solid; */
}
/* show venue style */
.div_mail_label {
    /* float: left; */
    width: 100%;
    padding-top: 1px;
    text-align: right;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* font-weight: bold; */
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
/* show date style */
.div_mail_input {
    /* float: left; */
    width: 100%;
    /* padding-top: 4px; */
    text-align: left;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
.div_mail_radio {
    /* float: left; */
    width: 100%;
    padding-top: 4px;
    text-align: left;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
.div_mail_button {
    /* float: left; */
    width: 110px;
    text-align: center;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: white;
    border: white 1px solid;
}
.div_mail_submit {
    /* float: left; */
    width: 100%;
    padding-top: 4px;
    text-align: center;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}