body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    overflow: visible;
}
/* large background image with linear gradient for shows page */
.bg_merch_img {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 1.0)7%, rgba(0, 0, 0, 0.5)60%, rgba(0, 0, 0, 1.0)90%),
                  url("drumbas_close.jpg");
    background-size: 1600px; 
}
@font-face {
    font-family: "Asche";
    src: url("asche-bold-webfont.ttf") format("truetype");
}
.table_merch_container {
    width: 100%;
    border-bottom: white 1px solid;
}
.td_merch_left {
    width: 50%;
    padding: 13px;
    text-align: right;
    vertical-align: top;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: rgb(9, 255, 0) 1px solid; */
}
.td_merch_right {
    width: 50%;
    border-left: white 1px solid;
    padding: 13px;
    text-align: left;
    vertical-align: top;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: rgb(9, 255, 0) 1px solid; */
}
.div_merch_img {
    /* float: left; */
    width: 100%;
    text-align: right;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
.div_merch_album {
    /* float: left; */
    width: 100%;
    text-align: right;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
#img_drumbas {
    width: 500px;
}
#img_album {
    width: 300px;
    margin-right: 25px;
    border: darkblue 2px solid;
    box-shadow: 5px 5px 0px gray;
}
.div_merch_img {
    float: right;
    text-align: center;
    font-family: 'Asche';
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 300px;
    border: slategrey solid 1px;
    background: black;
}
#img_logo {
    width: 280px;
    -webkit-filter: invert(1);
    filter: invert(1);
}
.div_merch_item {
    float: right;
    width: 100%;
    padding-top: 4px;
    text-align: right;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
.div_album_title {
    /* float: left; */
    width: 100%;
    padding-top: 4px;
    text-align: left;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
.div_merch_info {
    float: right;
    width: 300px;
    padding-top: 4px;
    /* height: 20px; */
    text-align: right;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
.div_album_info {
    width: 300px;
    padding-top: 4px;
    /* height: 20px; */
    text-align: left;
    font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 1px black;
    /* border: white 1px solid; */
}
/* link styling */
a {
    color: white;
    text-decoration: none;
}
.table_gallery_container {
    width: 100%;

}
.td_gallery {
    width: 10%;
}

/* zoom css */
* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}