
    /* navigation bar div */
    .div_nav {
        width: 65vw;
        display: flex;
        justify-content: space-around;
        height: 3vw;
        margin-left: auto;
        margin-right: auto;
        /* border: solid pink 1px; */
    }
    /* navigation link divs */
    .div_nav_link {
        float: left;
        /* width: 14.25%; */
        margin-left: 1.4vw;
        margin-right: 1.4vw;
        padding-top: 20px;
        text-align: center;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.25vw;
        color: white;
        /* border: solid lightblue 1px; */
    }
    /* link styling */
    a {
        color: white;
        text-decoration: none;
    }

@media screen and (max-width: 950px) {
    /* navigation bar div */
    .div_nav {
        width: 90vw;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    /* navigation link divs */
    .div_nav_link {
        float: left;
        margin-left: 1.4vw;
        margin-right: 1.4vw;
        /* min-width: 50px; */
        padding-top: 20px;
        text-align: center;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.75vw;
        color: white;
    }
    /* link styling */
    a {
        color: white;
        text-decoration: none;
    }
}
@media screen and (max-width: 780px) {
    /* navigation bar div */
    .div_nav {
        width: 50vw;
        height: 50vh;
        display: block;
        justify-content: left;
        margin-left: 50vw;
        margin-right: auto;
        border: solid pink 1px;
    }
    /* navigation link divs */
    .div_nav_link {
        float: unset;
        /* width: 14.25%; */
        height: 3vw;
        /* margin-left: 1.4vw; */
        /* margin-right: 1.4vw; */
        padding-top: 15px;
        text-align: left;
        font-family: 'Avenir', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 3.5vw;
        color: white;
        border: solid lightblue 1px;
    }
    /* link styling */
    a {
        color: white;
        text-decoration: none;
    }
}

